<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Update <%=party.name%></title>
</head>
<body>
    <div class="main-container">
        <div>
            <%-  include('../partials/header')%>

        <div>
  <div class="main-flex-wrapper">
    <div id="index-h1">
        <h1>UPDATE PAGE</h1>
    </div>

            <form class="create-party" action="/parties/<%=party._id%>/update" method="POST" enctype="multipart/form-data">
                <input name="name" type="String" placeholder="Party Name" required>
                <input name="location" type="String" placeholder="Location" required>
                <input name="date" type="date" placeholder="Event Date" required>
                <input name="numOfTickets" type="Number" placeholder="Num of Guests" required>
                <input name="price"  type="Number" placeholder="Price" required>
                <textarea name="desc" type="String" placeholder="Description" required></textarea>
                <input type="file" name='image' required>
                <button class="form-button-create" type="submit">Update Party</button>
            </form>
    </div>
    </div>
</body>
</html>