<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>UserPage</title>
</head>
<body>
    <div class="main-container"> 
        <div>
            <%-  include('../partials/header')%>
        </div>
        <div class="main-flex-wrapper">
            <div id="index-h1">
                <img id='profile-img' src='https://i.imgur.com/umVNuhV.png'/>
                <h1><%=user.name%></h1>
                <h3><%=user.email%></h1>
                <h3><%=user.isAdmin?'isAdmin':'not admin'%></h1>
            </div>
            
        <div>
    </div>
</div>
</body>
</html>



