<div>
    <h1>Ticket Requests</h1>
    <div>
        <table>
            <tr>
                <th>name</th>
                <th>paid</th>
                <th>Issue Ticket</th>
                <th>Delete Ticket</th>
            </tr>
        </table>
    </div>
</div>