
<div id="side-menu">
  <div id="inner-container">
  <a href="/"><img class="sideicon" src="https://i.imgur.com/qJ1TA9z.png" title="userpage-icon" /></a>
  <a href="/"><img class="sideicon" src="https://i.imgur.com/qAmoADo.png" title="create-icon" /></a>    
</div>
</div>
