

<div id="side-menu">
    <div id="inner-container">
        <a class="sideicon" href="/users/userpage">
            <img  class="sideicon" src='https://i.imgur.com/qJ1TA9z.png' alt='userpage-icon'/>
        </a>
        <a class="sideicon" href="/parties/createparty">
            <img  class="sideicon" src='https://i.imgur.com/qAmoADo.pngg' alt='create-form'/>
        </a>
        <a class="sideicon" href="/parties/myparties">
            <h3>My parties</h3>
        </a>
        <a class="sideicon" href="/tickets">
            <h3>My tickets</h3>
        </a>
        
    <div>

</div>

